* {
    margin: 0;
    padding: 0;
}

.buscar{
    background: #C50707;
    color: white;
    font-weight: bold;
    border-radius: 100%;
    width: 67px;
    height: 60px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    border: black solid 8px;
    position: absolute;
    top: 52px;
    text-shadow: 1px 0px 1px black, -1px 0px 1px black, 0px 1px 1px black, 0px -1px 1px black ;
}

.buscar-gif{
    border-radius: 100%;
    width: 65px;
    height: 60px;
    position: absolute;
    top: 52px;
    
    
}

.buscar:hover{
    background: white;
    color: #C50707;
    text-shadow: 1px 0px 1px black, -1px 0px 1px black, 0px 1px 1px black, 0px -1px 1px black ;
    
}

.input-buscar{
    border: 2px solid;
    border-radius: 50px;
    height: 30px;
    width: 300px;
    border: black solid 3px;
    padding-left: 4px;
    position: absolute;
    top: 15px
}

.search-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    height: 10px;
    margin-top: 20px;

}

@media (max-width: 1030px) {
    .input-buscar{
        width: 100px;
        height: 20px;
    }

    .buscar{
        top:45px;
    }

    .buscar-gif{
        width: 55px;
        height: 50px;
    }
}